/* 关键词 */
.hotk {
    background-color: #fff;
	margin-left:auto;
	margin-right:auto;
    margin-top: 25px;
	width:1190px;
	

}
.hotkwfirst {
	border-left: 2px dashed #e5e5e5;
    float: left;
    /*margin-left: -2px;*/
    /* width: 25%;*/
}

.hotkw {
    border-left: 2px dashed #e5e5e5;
    float: left;
    /*margin-left: -2px;*/
    /* width: 25%;*/
}

.hotkwlast{
	border-left: 2px dashed #e5e5e5;
	border-right: 2px dashed #e5e5e5;
	float: left;
}
.hotkw h1{
	font-size: 100%;
}
.lr_t {
    border-left: 3px solid #c40000;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.p15 {
	width: 275px;
    padding: 15px 5px 15px 15px;
	font: 12px/150% tahoma,Arial,Verdana,"宋体";
	
}
.p15 a{
	
}
.ho_a {
    color: #999;
    line-height: 24px;
    padding: 0 15px 0 0;
}
.fB {
    font-weight: bold;
}
.dinl {
    display: inline;
}
.lh35 {
    line-height: 35px;
}



