
/* 楼层*/
th, em, i {
    font-style: normal;
    font-weight: normal;
}
.over {
    overflow: hidden;
}
.flor {
    background-color: #c40000;
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    padding: 0 5px;
}
/* 楼层开始介绍 */
.h_tt {
    line-height: 22px;
    margin-bottom: 15px;
	width:1190px;
	background-color:#CCC;
	margin-left:auto;
	margin-right:auto;


	
}
.h_ha {
    color: #333;
    font-family: "Microsoft Yahei";
    font-size: 20px;
    font-weight: normal;
}
.left {
    float: left;
}

.gray,a.gray {
    color: #999;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
.right {
    float: right;
}


.h_cat {
    border-bottom: 1px dotted #eee;
    line-height: 24px;
    overflow: hidden;
    padding: 10px 0;
}
.h_cat a {
    color: #777;
    display: inline;
    float: left;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
}

.h_fl, .h_fm, .h_fr, .h_sex {
    float: left;
    height: 390px;
    overflow: hidden;
    position: relative;
}
/* 楼层图片左侧布局 */
.h_fl {
    background-color: #fff;
    margin-right: 5px;
    padding: 0 15px;
    width: 150px;
	
	
}
/* 楼层最主要的图片 */
.h_fm {
    width: 400px;
}

.h_fl, .h_fm, .h_fr, .h_sex {
    float: left;
    height: 390px;
    overflow: hidden;
    position: relative;
}




.f_aa {
    background-color: #fff;
    color: #333;
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    height: 152px;
    line-height: 30px;
    margin: 0 0 6px 5px;
    overflow: hidden;
    padding: 40px 0 0 30px;
    position: relative;
    width: 266px;
}


.f_am {
    position: relative;
    z-index: 2;
}
.f_aa p {
    color: #999;
    font-size: 14px;
}
.f_aa i {
    color: #777;
}
.ha_po {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}
.f_aa::before, .f_aa::after {
    content: "";
    height: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 0;
}
.f_aa::before {
    border-left: 1px solid #c40000;
    border-top: 1px solid #c40000;
    left: 0;
    top: 0;
}
.f_aa::after {
    border-bottom: 1px solid #c40000;
    border-right: 1px solid #c40000;
    bottom: 0;
    position: absolute;
    right: 0;
}
.f_aa:hover {
    color: #c40000;
    text-decoration: none;
}
.f_aa:hover::before, .f_aa:hover::after {
    height: 100%;
    opacity: 1;
    width: 100%;
}
.h_fm a::before {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    content: "";
    height: 390px;
    left: -180px;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 80px;
}
.h_fm a:hover::before {
    left: 480px;
    transition: left 0.5s ease 0s;
}

/* 图片右侧布局 */
.h_fr {
    width: 605px;
	
}

.layer01{
	width:1190px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	
}
