.today_look {
    height: 150px;
	width:1190px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;

}

.today_look_l {
    background: rgba(0, 0, 0, 0) url("../img/today/jinri.png") no-repeat scroll 50% 0;
    height: 150px;
    position: relative;
    width: 190px;
	background-color:#00F;
}

/*
animation: name duration timing-function delay iteration-count direction;

animation-name              规定需要绑定到选择器的 keyframe 名称。。
animation-duration	        规定完成动画所花费的时间，以秒或毫秒计。
animation-timing-function	规定动画的速度曲线。
animation-delay	            规定在动画开始之前的延迟。
animation-iteration-count	规定动画应该播放的次数。
animation-direction	        规定是否应该轮流反向播放动画。

*/
.today_look_cir {
	/*
		30s         规定完成动画所花费的时间
		linear	    动画从头到尾的速度是相同的
		0s          定义动画开始前等待的时间
		infinite	规定动画应该无限次播放。
		normal      默认值。动画应该正常播放。
		rotate      为 @keyframes 动画规定一个名称
	*/
    animation: 30s linear 0s normal none infinite rotate;
	animation-play-state:running;
    color: #fff;
    font-size: 18px;
    height: 68px;
    left: 87px;
    line-height: 1px;
    position: absolute;
    top: 26px;
    width: 10px;
}

.today_look_r a img{
	border:0;
}

.today_look_r1{
	width:1000px;
	overflow:hidden;  
    margin:0px;  
    padding:0px;  
  
}


.today_look_r1 a{
	display:block;
	width:250px;
	float:left;
}



@keyframes rotate{
	/*
		旋转；其中deg是【度】的意思
	*/
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@-moz-keyframes rotate{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}
@-ms-keyframes rotate{from{-ms-transform:rotate(0deg)}to{-ms-transform:rotate(360deg)}}
@-o-keyframes rotate{from{-o-transform:rotate(0deg)}to{-o-transform:rotate(360deg)}}
</style>