
/* 潮流前沿 */
.column-title {
    background-color: #dd2727;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    transition: background-color 0.4s ease 0s;
}
.column-title .text {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: top;
}
.item-title {
    display: block;
    font-size: 22px;
    height: 24px;
    line-height: 24px;
    margin-top: 19px;
    position: relative;
    width: 100%;
    z-index: 10;
}
.item-sub-title {
    color: #888;
    display: block;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-top: 5px;
    position: relative;
    z-index: 10;
}
.trend_change{
	width:230px;
	text-align:center;
}

.seprate {
    background-color: #eee;
    height: 1px;
    margin: 0 auto;
    width: 200px;
}

.img-con {
    display: block;
    height: 140px;
    margin: 9px auto 0;
    position: relative;
    width: 140px;
}